$color:
#112031,
#152D35,
#345B63,
#D4ECDD;

$color2:
#142850,
#27496D,
#0C7B93,
#00A8CC;

$color3:
#495464,
#BBBFCA,
#E8E8E8,
#F4F4F2;

$color4:
#2E2B2B,
#388186,
#A5E9E1,
#2E2B2B;

$color5:
#F90716,
#FF5403,
#FFCA03,
#FFF323;